<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>

    <!-- Reduce log level for Kafka -->
    <logger name="org.apache.kafka.clients" level="ERROR"/>
    <logger name="org.apache.kafka.common" level="ERROR"/>
    <logger name="o.a.k.c.c.internals" level="ERROR"/>
    <logger name="o.a.k.clients.producer" level="ERROR"/>

</configuration>
